# -- CLEAN
tmp/
# use yarn by default, so ignore npm
package-lock.json

# debug logs
npm-error.log
yarn-error.log

junit.xml
npm-shrinkwrap.json
oclif.manifest.json
oclif.lock

# compile source
dist

# test artifacts
*xunit.xml
*checkstyle.xml
*unitcoverage
.nyc_output
coverage
test_session*

# generated docs
docs

# ignore sfdx-trust files
*.tgz
*.sig
package.json.bak.

# os specific files
.DS_Store
.idea

# -- CLEAN ALL
*.tsbuildinfo
.eslintcache
.wireit
node_modules

# --
# put files here you don't want cleaned with sf-clean
