name: run-tests
run-name: Installs project and runs project tests
on: [push, pull_request]
jobs:
    run-tests-nix:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                node: [22, 24]
        name: Tests on Ubuntu with Node ${{ matrix.node }}
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node }}
            - run: yarn install
            - run: yarn test
            - name: Upload coverage to Codecov
              uses: codecov/codecov-action@v5
              with:
                  token: ${{ secrets.CODECOV_TOKEN }}
    run-tests-win:
        runs-on: windows-latest
        strategy:
            matrix:
                node: [22, 24]
        name: Tests on Windows with Node ${{ matrix.node }}
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node }}
            - run: yarn install
            - run: yarn test
